<!doctype html>
<html>

<body>
<button type="button" class="btn btn-primary" ng-click="goBack()">Go Back</button>
<br>
ID: <input type="text" ng-model="textid" ng-keypress="keyCheck($event)" required>  
<button type="button" class="btn btn-primary" ng-click="showId()">Search Book</button>
<br>
<br>
<div style="border: thin solid black; background-color: lightblue">
<b>BOOK</b>
<br>
&nbsp;ID: {{id.id}}
<br>
&nbsp;NAME: {{id.name}}
<br>
&nbsp;IPUSER: {{id.ipUser}}
<br>
&nbsp;TIMESTAMP: {{id.timeStamp | date:'yyyy-dd-MM HH.mm.ss' }}
<br>
<br>
</div>
</body>
</html>
